body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    text-align: center;
    background: rgb(234, 185, 190);
}

.board {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 350px;
    gap: 10px;
    margin-top: 20px;
}

.card {
    width: 80px;
    height: 80px;
    background: rgb(249, 215, 221);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    cursor: pointer;
    border-radius: 10px;
    font-weight: bold;
    transition: 0.3s;
    user-select: none;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.card:hover {
    transform: scale(1.05);
}

.score,
.lives,
.message {
    margin: 5px;
    font-size: 20px;
}

button {
    background-color: rgb(242, 177, 188);
}