body {
    background-color: rgba(250, 223, 222, 0.966);
}

header {
    background-color: rgb(211, 120, 135);
}

h1 {
    text-align: center;
}

button {
    width: 150px;
    height: 200px;
    background-color: rgba(242, 216, 189, 0.621);
    border-radius: 10px;
    border-width: 2px;
    border-style: solid;
    border-color:black;
    font-size: 50px;
    color: transparent /*hides emojis*/
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    
}


/* // #idNameHere { */
